.git/*
.gitignore
.helmignore
BENCHMARKS.md
README.md
SCALING.md
README.md
USAGE/*
media/*
tmpcharts*/*
mdai-cluster-*.tgz
example_log_generator.yaml
example_log_generator_noisy_service.yaml
example_log_generator_xtra_noisy_service.yaml
example_prometheus_rule.yaml
values_fluentd.yaml
values_minio.yaml
.idea/*
