.git/*
.gitignore
.helmignore
BENCHMARKS.md
README.md
SCALING.md
README.md
USAGE/*
media/*
mdai-cluster-*.tgz
./example_collector.yaml
example_log_generator.yaml
example_log_generator_noisy_service.yaml
example_log_generator_xtra_noisy_service.yaml
example_prometheus_rule.yaml
values_fluentd.yaml
values_grafana.yaml
values_minio.yaml
values_prometheus.yaml
.idea/*
